.body
  .header
    Portfolio
  .introduction
    %span.img
      = image_tag src="/assets/image.jpg", size: "300x400"
    .introduction__name
      大森 寛文
    .introduction__birthday
      28歳(1991年8月27日生)

  .career
    .career__box
      経歴
    %table
      %tr
        %th 2014年03月：
        %td 学習院大学経済学部経営学科 卒業
      %tr
        %th 2014年04月：
        %td 三井物産マシンテック株式会社 入社
      %tr
        %th 2019年11月：
        %td 三井物産マシンテック株式会社 退職
      %tr
        %th 2019年12月：
        %td 本格的にプログラミング学習開始
  .content
    .content__heading
      自己紹介
    %br
    小学校から高校まで野球、大学ではソフトボールをやっておりました。
    大学2年次から3年連続で全国大会に出場し、東京都一部リーグにおいても、
    3年春打率.613(リーグ4位)、3年秋打率.545(リーグ4位)、4年春打率.571(リーグ3位)を記録しました。
    その後三井物産マシンテックに営業として入社。常に顧客ファーストの精神を持って、直近の2019年3月期においては、
    売上目標3億5000万円に対し、6億6000万円(目標対比188%超え)を達成しております。
    また在職中に約5ヶ月間、中国上海の華東師範大学に語学研修として在籍し、HSK4級取得。
    趣味は筋トレで、週に4日程行なっており、ベンチプレスは100kg挙がります。筋トレ初心者の方を挫折させることなく継続させるのには絶対の自信があります。
  
  .strong
    .strong__point
      自己PR
    %br
    私の強みは課題に対し粘り強く行動することです。
    %br
    &nbsp;&nbsp;[自動化システムの販売]
    %br
    前職時代クライアントに対し、ロボット２台を使用した鋳物製品の自動搬送装置(約2000万円)を販売し、
    その際、納期厳守の補助金(1000万円)も併せてご利用頂くこととなりました。
    %br
    &nbsp;&nbsp;[課題発生]
    %br
    契約履行に向け、逐一納期管理していたものの、製造元の繁忙期と重なってしまい大幅な納期遅延が発生。加えてその製造元は資本金1000万円以下の下請法該当先でもあり、容易に納期短縮の交渉はできない状況となっておりました。
    まずはクライアントに対し、納期遅延に対する謝罪と現在の状況を報告。また契約内容の変更をして頂けるよう何とかお願いしましたが、全く取り合って頂けませんでした。
    %br
    &nbsp;&nbsp;[課題解決に向けた考え]
    %br
    クライアントに条件変更を了承頂くためには、まずは製造元と自分が誠心誠意動いていることをアピールすることが重要と考えました。及び納期遅延に関しては、製造元の作業者に本件を優先的に作業頂く、また誰のために作業しているのかを意識してもらうことが重要と考えました。
    %br
    &nbsp;&nbsp;[課題解決に向けた行動]
    %br
    課題解決のため製造元に約1ヶ月以上土日関係なく毎日訪問しました。その際、担当者と打ち合わせし、
    進捗状況を議事録に記載し、製造状況の写真と共にクライアントに報告。製造元の作業者の方に対しても、毎日飲み物などを差し入れるなどフォローを実施しました。
    またその間、クライアントにも製造元に訪問頂き、現物の確認と、作業者の方を交え簡単な会食を催す等、
    関係強化に努めました。
    %br
    &nbsp;&nbsp;[結果]
    %br
    製造元と自分の頑張りが認められ、クライアントに契約内容の条件変更を了承頂きました。
    また発生していた納期遅延は最小限に抑えることができ、無事、補助金を受領することができました。
    %br
    &nbsp;&nbsp;[エンジニアで強みをどう生かすか]
    %br
    課題に対しどうすれば解決できるのか考え、考えに基づき粘り強く取り組んでいきます。

  .aim-engineer
    .aim-engineer__item
      エンジニアを目指す理由
    %br
    ブロックチェーン技術を知り、世界を変えれると感じたためです。
    %br
    &nbsp;&nbsp;[過去の経験]
    %br
    1年程前からですが毎月児童養護施設に寄付をしております。
    寄付は無償で相手に奉仕する行為となりますが、
    寄付をするにつれて自己肯定感が高まる、つまり自分のことを好きになっていくことを強く実感できました。
    人生において自分自身を好きになることほど、自分らしく幸せに生きることはないと思っています。
    %br
    &nbsp;&nbsp;[お金に対する考え]
    %br
    またお金は空気や水と同じものと考えております。当たり前ですが空気や水は無いと生きていけません。
    ですが人の10倍空気や水を使えるようになっても、10倍幸せにはなりません。必要最低限で良いと考えております。
    お金も同じで、必要最低限あれば良いと考えております。但し多くの人が、お金があればあるほど幸せになれると勘違いしています。
    その結果、好きでもないことをやり、時間を拘束され、そして貰った慰謝料は贅沢品という名の麻薬に費やし、
    本当にお金を必要としている人には行き渡らないのが現実としてあると考えております。
    %br
    &nbsp;&nbsp;[ブロックチェーン技術について]
    %br
    ブロックチェーンはそんな世界を変える力があると信じております。データの改竄を行うのが大変難しいものとなりますので、
    お金に限らず様々なことが中央集権の権力者に依存することなく記録され、今まで見えなかった、または見えずらかった信用を価値化することができると思います。
    その結果、人、物、世界に対して良いことをする人こそが、最も評価される世界が実現できると確信しております。
    人に対し、世界に対し貢献をしていく、そしてその過程で自分のことをますます好きになれる。そんな人類の歴史上最も幸せな世界を作るため、ブロックチェーンエンジニアを目指しています。
    ブロックチェーンにフルコミットできる環境でしたら、最低賃金で構いません。何卒宜しくお願い申し上げます。
  .portfolio
